.link {
  text-decoration: none;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(215, 118, 118);
}
.navbar-dark .navbar-brand:hover {
  color: rgb(209, 108, 108);
  cursor: pointer;
}

p {
  margin-bottom: 0;
}

p:hover {
  cursor: pointer;
  color: brown;
}
